.basicInfo p,
.contactInfo p{
    display: inline-block;
}

p>span{
    margin-right: 5px;
}
.basicInfo p+p,
.contactInfo p+p{
    margin-left: 20px; 
}

p{
    margin: 0;
}
a{
    color: blue;
}

.head{
    font-weight: bold;
}

h2+p+p{
    margin-bottom: 16px;
}

h2{
    margin-top: 0;
}