.basicInfo p,
.contactInfo p {
    display: inline-block;
}

p>span {
    margin-right: 5px;
}

.basicInfo p+p,
.contactInfo p+p {
    margin-left: 20px;
}

p {
    margin: 0;
}

a {
    color: blue;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    margin-top: 20px;
}

.head {
    font-weight: 700;
}